<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prj_Transaction_Charles.Properties.Settings.CBConnectionString"
            connectionString="Data Source=CHARLES_PC\SQLEXPRESS;Initial Catalog=tp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>