<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prj_Reservation_James.Properties.Settings.CBConnectionString"
            connectionString="Data Source=DESKTOP-268JQ7S\SQLEXPRESS;Initial Catalog=CB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
